@import "variables";
@import "mixins";

@import "fonts";
@import "bootstrap";

html, body {
  width: 1vw;
  height: 1vh;
}
html {
  overflow: hidden;
}

img.img-fluid {
  image-orientation: from-image;
}

.row + .row {
  margin-top: $grid-gutter-width;
}

/* Other aspect ratios to try:
 * 56.25% = 16:9
 * 75% = 4:3
 * 66.66% = 3:2
 * 62.5% = 8:5
 */

div.media-16-9 {
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;

  > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
}


div.media-4-3 {
	width: 100%;
	padding-bottom: 75%; /* 4:3 */
	position: relative;

  > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
}

ul.radio-list {
  list-style: none;
  margin: 0;
  border: 0;
  padding: 0;

  li {
    input[type=radio] {
      margin-right: 0.5rem;
    }

    span {
      padding-right: 0.5rem;
    }
  }
}